 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/images/pexels-pixabay-414032.jpg');
  background-position: 52.14% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-1 .u-image-1 {
  width: 360px;
  height: 360px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 371px;
  height: 371px;
  margin: -289px calc(((100% - 1140px) / 2)  + -28px) 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 422px;
  margin: 77px auto 0 86px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 342px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-1 .u-icon-1 {
  height: 86px;
  width: 86px;
  background-image: none;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-1 .u-icon-2 {
  height: 86px;
  width: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 15px 30px;
}

.u-section-1 .u-icon-3 {
  height: 86px;
  width: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-1 .u-icon-4 {
  height: 86px;
  width: 86px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0 0;
}

.u-section-1 .u-text-5 {
  font-family: "Big Shoulders Text";
  font-size: 1.875rem;
  margin: -69px 0 0 570px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  margin: 68px 366px 60px;
  padding: 11px 91px 12px 90px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 4737px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -16px;
    margin-left: calc(((100% - 940px) / 2)  + 44px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -9px;
    margin-right: calc(((100% - 940px) / 2)  + 72px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2)  + 474px);
    margin-top: -157px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + 100px);
    margin-left: calc(((100% - 940px) / 2)  + 100px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 460px;
    margin-right: 266px;
    margin-left: calc(((100% - 940px) / 2)  + 167px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 106px;
    margin-left: calc(((100% - 720px) / 2)  + 154px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2)  + 167px);
  }

  .u-section-1 .u-list-1 {
    width: 422px;
    margin-top: 20px;
    margin-left: calc(((100% - 720px) / 2)  + -160px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2)  + 210px);
    margin-left: calc(((100% - 720px) / 2)  + 210px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 156px;
    margin-bottom: -305px;
    margin-left: calc(((100% - 720px) / 2)  + -53px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2)  + -103px);
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2)  + -250px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -69px;
    margin-right: calc(((100% - 540px) / 2)  + 300px);
    margin-left: calc(((100% - 540px) / 2)  + 240px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 66px;
    margin-bottom: -415px;
    margin-left: calc(((100% - 540px) / 2)  + -233px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-image-1 {
    width: 133px;
    height: 133px;
    margin-top: -21px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-2 {
    width: 155px;
    height: 155px;
    margin-top: -101px;
    margin-right: 170px;
    margin-left: 15px;
  }

  .u-section-1 .u-list-1 {
    width: 214px;
    margin-top: 44px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 327px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 96px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin: 255px auto 22px;
    padding: 5px 11px 5px 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-shape-1 {
  width: 703px;
  height: 441px;
  background-image: none;
  margin: 80px auto 0 52px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 315px;
  object-position: 100% 32.16%;
  filter: brightness(0.95);
  margin: -334px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 518px;
  min-height: 476px;
  height: auto;
  margin: -378px auto 0 52px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  margin: 38px auto 0;
  padding: 11px 91px 12px 90px;
}

.u-section-2 .u-image-2 {
  width: 216px;
  height: 216px;
  margin: -534px 405px 60px 519px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 305px;
    margin-left: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-left: 17px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 195px;
    margin-left: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 298px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -361px;
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-2 {
    margin-right: 105px;
    margin-left: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-2 .u-shape-1 {
    height: 226px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    margin-top: -51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 188px;
    margin-top: -188px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: -163px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 155px;
    padding: 7px 9px 8px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 5px;
    margin-left: 119px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 401px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 533px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 60px 28px 30px;
}

.u-section-3 .u-image-1 {
  height: 445px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-3 .u-container-layout-2 {
  padding: 59px 30px 17px;
}

.u-section-3 .u-text-1 {
  line-height: 2;
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  background-image: none;
  margin: 29px auto 0;
  padding: 15px 36px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    height: 352px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 278px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 504px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 482px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-3 .u-image-1 {
    height: 297px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 17px;
  }

  .u-section-3 .u-text-1 {
    line-height: 1.2;
    font-size: 0.875rem;
    margin-top: 13px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    padding-right: 14px;
    padding-left: 13px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 634px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 1px;
}

.u-section-4 .u-image-1 {
  min-height: 633px;
  background-image: url("/images/9fb36d30-ec60-4825-8f7a-a3f8d8c8ab56.png");
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 633px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 60px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 89px 0 1px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 15px 36px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 522px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-4 .u-image-1 {
    min-height: 640px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-4 .u-image-1 {
    min-height: 647px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 265px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 338px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: auto;
    padding-top: 8px;
    padding-bottom: 9px;
  }
} .u-section-5 {
  background-image: linear-gradient(#f2f2f2, #ff85a8);
}

.u-section-5 .u-sheet-1 {
  min-height: 687px;
}

.u-section-5 .u-group-1 {
  width: 620px;
  min-height: 358px;
  height: auto;
  margin: 69px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 20px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 41px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-5 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 18px 20px 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  background-image: none;
  margin: 9px auto 0;
  padding: 15px 36px 16px;
}

.u-section-5 .u-image-1 {
  width: 135px;
  height: 135px;
  margin: -129px auto 0 163px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  width: 559px;
  margin: 81px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: 55px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-3 {
    font-weight: 700;
  }

  .u-section-5 .u-text-4 {
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-5 .u-group-1 {
    min-height: 308px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-5 .u-image-1 {
    width: 107px;
    height: 107px;
    margin-top: -106px;
    margin-left: 55px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-bottom: 14px;
  }
}